@import url(../../ThemeStyle/default.less);
//size 为 small 时的样式
@btn-small-padding: 4px 8px;
@btn-small-fontSize: 12px;
@btn-small-wight: 2.5rem;
@btn-small-height: 2.5rem;
//size 为 large 时的样式
@btn-large-padding: 8px 16px;
@btn-large-fontSize: 28px;
@btn-large-wight: 5rem;
@btn-large-height: 5rem;

// 圆形按钮样式
@circle: {
  width: 3.75rem;
  height: 3.75rem;
  padding: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: normal;
  border: 2px solid #ccc;
  border-radius: 50%;
  box-shadow: none;
};
@loading: {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin: auto;
  margin-right: 5px;
  overflow: hidden;

  background-size: 100%;
  cursor: not-allowed;
  animation: run 2s infinite linear;
};

.rabbit-btn {
  padding: 6px 12px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 0.5s ease;

  // 按下后颜色
  &:active {
    background-color: rgb(106, 175, 203);
  }
  // 圆形按钮
  &.circle {
    @circle();
  }
  //loading状态
  @keyframes run {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  &.loading {
    filter: opacity(50%);
    pointer-events: none;
  }
  .loading-enter {
    @loading();
  }
  .loading-enter-active {
    @loading();
    width: 14px;
    height: 14px;
    transition: all 0.5s;
  }
  .loading-enter-done {
    @loading();
    width: 14px;
    height: 14px;
  }
  .loading-exit {
    @loading();
    width: 14px;
    height: 14px;
  }
  .loading-exit-active {
    @loading();
    width: 0px;
    height: 14px;
    transition: all 0.5s;
  }
  .loading-exit-done {
    @loading();
    width: 0px;
    height: 14px;
  }

  // 禁用状态
  &[disabled] {
    background-color: red;
    cursor: not-allowed;
    opacity: 0.75;
    &:hover {
      background-color: rgb(173, 6, 6);
    }
    // 禁用按钮按下状态
    &:active {
      background-color: #000;
    }
  }
  &.link {
    text-decoration: none;
  }
}

.btn-small {
  padding: @btn-small-padding;
  font-size: @btn-small-fontSize;
  &.circle {
    width: 2.5rem;
    height: 2.5rem;
  }
  & .loading {
    width: 10px;
    height: 10px;
  }
  .loading-enter {
    @loading();
  }
  .loading-enter-active {
    @loading();
    width: 10px;
    height: 10px;

    transition: all 0.5s;
  }
  .loading-enter-done {
    @loading();
    width: 10px;
    height: 10px;
  }
  .loading-exit {
    @loading();
    width: 10px;
    height: 10px;
  }
  .loading-exit-active {
    @loading();
    width: 0px;
    transition: all 0.5s;
  }
  .loading-exit-done {
    @loading();
    width: 0px;
  }
}

.btn-large {
  padding: @btn-large-padding;
  font-size: @btn-large-fontSize;
  border-radius: 25px;
  &.circle {
    width: 5rem;
    height: 5rem;
  }
  & .loading {
    width: 26px;
    height: 26px;
  }
  .loading-enter {
    @loading();
  }
  .loading-enter-active {
    @loading();
    width: 26px;
    height: 26px;

    transition: all 0.5s;
  }
  .loading-enter-done {
    @loading();
    width: 26px;
    height: 26px;
  }
  .loading-exit {
    @loading();
    width: 26px;
    height: 26px;
  }
  .loading-exit-active {
    @loading();
    width: 0px;
    height: 0px;
    transition: all 0.5s;
  }
  .loading-exit-done {
    @loading();
    width: 0px;
    height: 0px;
  }
}
each(@theme-colors,{
  .@{key} { 
    // color: @value; 
    background-color: rgba(@value); 
    &:hover {
      background-color: darken(@value, 10%);
    }
  }
  }
);
