.btn {
  padding: 6px 12px;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  background-color: skyblue;
  border-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
}
.btn:active {
  background-color: #6aafcb;
}
.btn.circle {
  width: 3.75rem;
  height: 3.75rem;
  padding: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: normal;
  border: 2px solid #ccc;
  border-radius: 50%;
}
@keyframes run {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn .loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: auto;
  margin-right: 5px;
  background: url(icon/loading.png) no-repeat;
  background-size: 100%;
  cursor: not-allowed;
  animation: run 3s infinite;
}
.btn[disabled] {
  background-color: red;
  cursor: not-allowed;
  opacity: 0.75;
}
.btn[disabled]:hover {
  background-color: #ad0606;
}
.btn[disabled]:active {
  background-color: #000;
}
.btn-small {
  padding: 4px 8px;
  font-size: 12px;
}
.btn-small.circle {
  width: 2.5rem;
  height: 2.5rem;
}
.btn-small .loading {
  width: 10px;
  height: 10px;
}
.btn-large {
  padding: 8px 16px;
  font-size: 28px;
}
.btn-large.circle {
  width: 5rem;
  height: 5rem;
}
.btn-large .loading {
  width: 30px;
  height: 30px;
}
