@popupPrefix: rabbit-modal;

.@{popupPrefix} {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999;

  .rabbit-modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: transparent;
  }

  // 动画部分样式
  .rabbit-mask-enter {
    background-color: transparent;
  }
  .rabbit-mask-enter-active {
    background-color: rgba(0, 0, 0, 0.45);
    transition: background 300ms;
  }

  .rabbit-mask-enter-done,
  .rabbit-mask-exit {
    background-color: rgba(0, 0, 0, 0.45);
  }
  .rabbit-mask-exit-active {
    background-color: transparent;
    transition: background 300ms;
  }

  .rabbit-modal-content {
    position: absolute;
    box-sizing: border-box;
    width: 520px;
    padding: 20px 24px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
      0 9px 28px 8px rgb(0 0 0 / 5%);
    transition: transform 0.3s, opacity 0.3s;
    // 关闭按钮
    .rabbit-modal-close-x {
      position: absolute;
      top: 20px;
      right: 24px;
      padding: 3px;
      color: #8c8c8c;
      border-radius: 5px;
      cursor: pointer;
      transition: all ease 0.45s;

      &:hover {
        color: #000;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    .rabbit-modal-header {
      margin-bottom: 8px;
      border-radius: 8px 8px 0 0;

      .rabbit-modal-title {
        color: rgba(0, 0, 0, 0.88);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        word-wrap: break-word;
      }
    }

    .rabbit-modal-body {
      font-size: 14px;
      word-wrap:break-word;
    }

    .rabbit-modal-footer {
      margin-top: 12px;
      text-align: end;
      background: 0 0;

      .rabbit-modal-footer-item {
        margin-right: 10px;
      }
    }
    .rabbit-modal-footer:nth-last-child(1) {
      margin-right: -10px;
    }
  }

  .rabbit-modal-content-default {
    top: 100px;
  }

  // 动画部分样式
  .rabbit-modal-enter {
    transform: scale(0);
    opacity: 0;
  }

  .rabbit-modal-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: opactity transform 300ms;
  }

  .rabbit-modal-enter-done,
  .rabbit-modal-exit {
    transform: scale(1);
    opacity: 1;
  }

  .rabbit-modal-exit-active {
    transform: scale(0);
    opacity: 0;
    transition: opactity transform 300ms;
  }
}
